@model ProductUpdateViewModel
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="product" asp-action="index">Products</a></li>
                    <li class="breadcrumb-item active">Edit Product</li>
                </ol>
            </div>
            <h4 class="page-title">Add product</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly"></div>
                <form enctype="multipart/form-data" smethod="POST" asp-controller="product" asp-action="update" id="submit-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Name"></label>
                                <input class="form-control" asp-for="Name">
                                <span asp-validation-for="Name" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Description"></label>
                                <input class="form-control" asp-for="Description">
                                <span asp-validation-for="Description" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Color"></label>
                                <input class="form-control" asp-for="Color">
                                <span asp-validation-for="Color" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Size"></label>
                                <input class="form-control" asp-for="Size">
                                <span asp-validation-for="Size" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Price"></label>
                                <input class="form-control" asp-for="Price">
                                <span asp-validation-for="Price" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Category</label>
                                <select class="form-select" asp-for="CategoryIds" multiple >
                                    <option disabled>Select the category</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryIds" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Product's image</label>
                                <input type="file" asp-for="Image" class="form-control">
                                <span asp-validation-for="Image" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <img width="200" src="~/admin/uploads/images/@Model.CurrentFileName" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit" form="submit-form">Save</button>
                    <a asp-controller="product" asp-action="index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
