@using Pustok.Database.Models;
@model List<Email>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <div class="col-md-12 mt-4 mt-md-0">
             <div class="card">
                    <div class="card-header">Sent Emails</div>
                    <div class="card-body">
                        <ul class="list-group">
                             @foreach (var email in Model)
                             {
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6>@email.Title</h6>
                                        <p>@email.Content</p>
                                        <small>@email.EmailAddress</small>
                                    </div>
                                    <div>
                                    <small>Sent: @email.SendingTime</small>
                                    </div>
                                </li>
                             }
                        </ul>
                    </div>
             </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>
